<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
<nav class="navbar navbar-static">
    <% include ../partials/nav %>
</nav>
<header class="masthead">
    <% include ../partials/header %>
</header>
<div class="container">
    <div class="row">
        <div class="col col-sm-3">
            <div id="sidebar">
                <% include ../partials/sidebar %>
            </div>
        </div>
        <div class="col col-sm-9">
            <button><a href="<%= pages.destinations.getDestinationIndex %>/delete/<%= destinations._id %>">Delete
                    destination</a></button>
            <p>
                <%= destinations.description %>
            </p>
            <ul>
                <% for(var i = 0; i < destinations.hotels.length; i++) { %>
                <li>
                    <p><%=destinations.hotels[i].name%></p>
                    <% for(var j = 0; j < destinations.hotels[i].arrangements.length; j++) { %>
                    <ul>
                        <li><%= destinations.hotels[i].arrangements[j].name %></li>
                        </br>
                        <li><%= destinations.hotels[i].arrangements[j].description %></li>
                        </br>
                        <li> <%= destinations.hotels[i].arrangements[j].price %></li>
                        </br>
                        <li><%= destinations.hotels[i].arrangements[j].people %></li>
                    </ul>
                    <% } %>
                </li>
                <% } %>
            </ul>
        </div>
        <% if(user.role.name === 'Admin'){ %>
        <form action="/destinations/<%= destinations._id %>" method="post">
            <fieldset>
                <label for="name">Name:</label>
                <input type="text" name="name" placeholder="Enter destination name"/>

                <label for="description">Description:</label>
                <textarea name="description" placeholder="Enter the description"></textarea>

                <input type="submit" value="Edit destination"/>
            </fieldset>
        </form>
        <% } %>
    </div>
</div>
<footer>
    <% include ../partials/footer %>
</footer>
</body>

</html>
