<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
<nav class="navbar navbar-static">
    <% include ../partials/nav %>
</nav>
<header class="masthead">
    <% include ../partials/header %>
</header>
<div class="container">
    <div class="row">
        <div class="col col-sm-3">
            <% if (user && user.role.name === 'Admin') { %>
            <div id="sidebar">
                <% include ../partials/destination/destinationViewAdminSidebar %>
            </div>
            <% } else { %>
            <div id="sidebar">
                <% include ../partials/destination/destinationViewSidebar %>
            </div>
            <% } %>
        </div>
        <div class="col col-sm-9">
            <% if(error_messages.length > 0) { %>
            <% include ../partials/errorMessage %>
            <% } %>

            <% if(success_messages.length > 0) { %>
            <% include ../partials/succesMessage %>
            <% } %>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><h4><%= destinations.name %> - Arrangements</h4></div>
                <div class="panel-body">
                    <p><%= destinations.description %></p>
                </div>

                <% for(var i = 0; i < destinations.hotels.length; i++) { %>
                <div class="panel">
                    <div class="panel-body">
                        <div class="panel-heading"><h2>Hotel the <%=destinations.hotels[i].name%></h2></div>
                        <% for(var j = 0; j < destinations.hotels[i].arrangements.length; j++) { %>
                        <div class="panel">
                            <div class="panel-body">
                                <div class="panel-heading"><h3>Arrangement: <%= destinations.hotels[i].arrangements[j].name %> </h3></div>
                                <p><%= destinations.hotels[i].arrangements[j].description %></p>
                                <div>
                                    Price: <span> <%= destinations.hotels[i].arrangements[j].price %></span>
                                    People: <span><%= destinations.hotels[i].arrangements[j].people %></span>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
<footer>
    <% include ../partials/footer %>
</footer>
</body>

</html>
