<ul class="pagination">
    <% for(var i = 1; i <= pagination.totalPageCount; ++i) { %>
    <% if (i == pagination.currentPage) { %>
    <li class="active">
        <a href="<%= pages.destinations.getDestinationIndex %>?page=<%= i %>"><%= i %></a>
    </li>
    <% } else { %>
    <li>
        <a href="<%= pages.destinations.getDestinationIndex %>?page=<%= i %>"><%= i %></a>
    </li>
    <% } %>
    <% } %>
</ul>