<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
<nav class="navbar navbar-static">
    <% include ../partials/nav %>
</nav>
<header class="masthead">
    <% include ../partials/header %>
</header>
<div class="container">
    <div class="row">
        <div class="col col-sm-3">
            <div id="sidebar">
                <% include ../partials/sidebar %>
            </div>
        </div>
        <div class="col col-sm-9">
            <% for(var i = 0; i < bookings.length; i++) { %>
            <div class="panel">
                <a href="<%= pages.bookings.getBookingIndex %>/<%= bookings[i]._id %>">
                    <div class="panel-body">
                            <span>
                                <%= bookings[i].created_at %>
                            </span>
                        <div class="panel">
                            <div class="panel-body">
                                    <span>
                                        Arrangement: <%= bookings[i].arrangement.name %>
                                    </span>
                                <p>
                                    description: <%= bookings[i].arrangement.description %>
                                </p>
                                Arrangement for: <%= bookings[i].people %> people
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-body">
                                    <span>
                                        Hotel: <%= bookings[i].hotel.name %>
                                    </span>
                                <p>
                                    Description: <%= bookings[i].hotel.description %>
                                </p>
                                <p>
                                    Rating: <%= bookings[i].hotel.rating %>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <% } %>
            <div>
                 <span>
                                Total gains
                            </span>
                <% for(var j = 0; j < totalPrice.length; j++) { %>
                <div class="panel">
                    <div class="panel-body">
                        <div class="panel">
                            <div class="panel-body">
                                <span><%= totalPrice[j].name %></span>
                                <span><%= totalPrice[j].total%></span>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                <% } %>
                <div>
                        <span>
                                Arrangement count
                            </span>
                    <div class="panel">
                        <div class="panel-body">

                            <div class="panel">
                                <div class="panel-body">
                                    Half pension
                                    <span><%= arrangements.halfpension %></span>
                                    Full pension
                                    <span><%= arrangements.fullpension %></span>
                                    Breakfast
                                    <span><%= arrangements.breakfast %></span>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                <div>
                    <span>
                                Hotel reservation count
                            </span>
                    <% for(var l = 0; l < hotel.length; l++) { %>
                    <div class="panel">
                        <div class="panel-body">
                            <div class="panel">
                                <div class="panel-body">
                                    <span><%= hotel[l].name %></span>
                                    <span><%= hotel[l].total %></span>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <% include ../partials/footer %>
</footer>
</body>

</html>
